<!DOCTYPE html>
<html lang="en" ng-app="siteapp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>奔跑的蜗牛</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- Jacky customized CSS -->
    <link href="css/jacky.css" rel="stylesheet">

</head>

<body ng-controller="SiteController">

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Running Maverick</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="books">书单</a> </li>
                    <li><a href="sites">从业必看</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">从业必读</h1>
            </div>
        </div>

        <div id="recommend-sites">
        </div>
        <!--
        <div ng-repeat="category in sites">
            <div class="row">
                <div class="col-lg-12"> <h2 class="page-header" ng-bind="category.title"></h2> </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6 card" ng-repeat="site in category.content">
                    <h3><a target="_blank" href="{{ site.href }}" ng-bind="site.name"></a></h3>
                </div>
            </div>
        </div>
        -->
        <hr>


        <div id="SOHUCS"></div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Jacky Zhu 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/react.min.js"></script>
    <script src="js/JSXTransformer.js"></script>
    <script type="text/jsx">
        var SiteList = React.createClass({
            render: function() {
                var nodes = this.props.data.map(function(site){
                    return (
                        <div class="col-md-3 col-xs-6 card">
                            <h3><a target="_blank" href="{site.href}">site.name</a></h3>
                        </div>
                    );
                });    
                return (
                    <div class="row"> {nodes} </div>
                ); 
            }
        });
        var CategoryList = React.createClass({
            render: function() {
                var nodes = this.props.data.map(function(category){
                    return ( 
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="page-header">
                                    {category.title} 
                                </h2>
                            </div>
                        </div>
                        <SiteList data={category.sites} /> 
                    );
                }); 
                return (
                    <div>{nodes}</div>
                );
            }
        });

        var data = [
          {
            title: 'everydaySites',
            content: [
              {
                'href': 'http://news.ycombinator.com',
                'name': 'Hacker News',
                'category': '技术 & 行业',
                'info': '黑客和创业: 请认准，教父的网站'
              }, {
                'href': 'http://highscalability.com/',
                'name': 'highscalability',
                'category': '',
                'info': ''
              }, {
                'href': 'http://www.infoq.com/cn/',
                'name': 'InfoQ',
                'category': '技术 前沿',
                'info': '如果你想成为架构师'
              }, {
                'href': 'http://www.huxiu.com',
                'name': '虎嗅',
                'category': '',
                'info': ''
              }, {
                'href': 'http://www.tmtpost.com',
                'name': '钛媒体',
                'category': '',
                'info': ''
              }, {
                'href': 'http://baijia.baidu.com',
                'name': '百度百家',
                'category': '',
                'info': ''
              }, {
                'href': 'http://www.iresearch.cn',
                'name': '艾瑞',
                'category': '',
                'info': ''
              }, {
                'href': 'http://www.geekpark.net',
                'name': '极客公园',
                'category': '',
                'info': ''
              }, {
                'href': 'https://github.com/',
                'name': 'GitHub',
                'category': '',
                'info': ''
              }
            ]
          }  
        ];

        React.render(
            <CategoryList data={} />,
            document.getElementById('recommend-sites')
        );
        
    </script>

    <!-- changyan -->
    <script>
          (function(){
              var appid = 'cyqU2kr6K',
                  conf = 'prod_5a7b238ba0f6502e5d6be14424b20ded';
              var doc = document,
                  s = doc.createElement('script'),
                  h = doc.getElementsByTagName('head')[0] ||
                          doc.head || doc.documentElement;
                  s.type = 'text/javascript';
                  s.charset = 'utf-8';
                  s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf='+
                              conf +'&appid=' + appid;
                  h.insertBefore(s,h.firstChild);
           })()
    </script>

</body>
</html>
